---
layout: none
title: Photography
---
<!doctype html>
<html>
<head>
  {% include head.html gallery=true %}
</head>
<body>

  <div class="container">
    {% include header.html %}
  </div>

  <div id="page" class="hfeed site">
  <div id="main" class="site-main">
    <div id="primary" class="content-area">
      <div id="content" class="site-content" role="main">

        <div class="layout-full">
            <div class="gallery-grid">
              {%- assign items = "nature,people,landscape,street,animals,urban,abstract" | split: "," %}
              {%- for item in items %}
              <div class="masonry-item">
                <figure>
                  <img src="/images/gallery/{{item}}/cover.jpg" alt="{{item}}"/>
                  <figcaption>
                    <h2>{{item|upcase}}</h2>
                    <a href="/photography/{{item}}"></a>
                  </figcaption>
                </figure>
              </div>
              {%- endfor %}
            </div>
          </div>
  
      </div>
    </div>
  </div>
  </div>

  <div class="container">
    {% include footer.html %}
  </div>

</body>
</html>
