
  <!-- Photo stuff -->
    <script src="{{ site.github.url }}/assets/photo/js/fastclick.js"></script>
    <script src="{{ site.github.url }}/assets/photo/js/jquery.fitvids.js"></script>
    <script src="{{ site.github.url }}/assets/photo/js/jquery.validate.min.js"></script>
    <script src="{{ site.github.url }}/assets/photo/js/jquery.uniform/jquery.uniform.min.js"></script>
    <script src="{{ site.github.url }}/assets/photo/js/imagesloaded.pkgd.min.js"></script>
    <script src="{{ site.github.url }}/assets/photo/js/jquery.fluidbox/jquery.fluidbox.min.js"></script>
    <script src="{{ site.github.url }}/assets/photo/js/owl-carousel/owl.carousel.min.js"></script>
    <script src="{{ site.github.url }}/assets/photo/js/socialstream.jquery.js"></script>
    <script src="{{ site.github.url }}/assets/photo/js/jquery.collagePlus/jquery.collagePlus.min.js"></script>
    <script src="{{ site.github.url }}/assets/photo/js/photo-swipe/photoswipe.min.js"></script>
    <script src="{{ site.github.url }}/assets/photo/js/photo-swipe/photoswipe-ui-default.min.js"></script>
    <script src="{{ site.github.url }}/assets/photo/js/photo-swipe/photoswipe-run.js"></script>
    <script src="{{ site.github.url }}/assets/photo/js/jquery.gridrotator.js"></script>
    <script src="{{ site.github.url }}/assets/photo/js/slippry/slippry.min.js"></script>
    <script src="{{ site.github.url }}/assets/photo/js/jquery.magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="{{ site.github.url }}/assets/photo/js/masonry.pkgd.min.js"></script>
    <script src="{{ site.github.url }}/assets/photo/js/main.js"></script>

  <!-- Photo stuff END -->
