.layout-full {
  display: flex;
  justify-content: center;
}


.photo-gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  max-width: 1300px;
}
.photo-gallery > a {
  padding: 10px 5px;
}

.gallery-nav {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.entry-header {
  text-align: center;
  margin-bottom: 1.4em;
}