/*
  Contents:
    Base
    Site container
    Masthead
    Thumbnail
    Post
    Pagination
    Footer
    Menu
    Code
    Tables
    Social media icons
    Gallery
*/

/*
  Base
*/

body {
  font-family: "PT Serif", Georgia, "Times New Roman", serif;
  font-size: 18px;
  color: #515151;
  line-height: 1.75rem;
}
@media (max-width: 30em) {
  body {
    font-size: 14px;
    line-height: 1.5rem;
  }
  body h1 {
    font-size: 1.5rem;
  }
}

h1 a, h2 a {
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  color: #333;
}
a {
  text-decoration: underline;
  color: #333;
}
a:hover {
  color: black;
  border-bottom: none;
}
img {
  max-width: 100%;
  height: auto;
}
blockquote {
  margin: 10px 20px 10px;
  padding: 0px 15px;
  border-left: 0.25em solid #ccc;
  color: #999;
  line-height: 1.5;
}
hr {
  border-top: 1px solid #ccc;
}

/*
  Site container
*/
.container {
  /* center contents */
  margin-left: auto; margin-right: auto;
  width: 740px;
  /* Maintain same content position whether scrollbar is shown or not
     (https://stackoverflow.com/a/30293718) */
  padding-left: calc(100vw - 100%);
}
@media (max-width: 768px) {
  .container {
    width: 90vw;
  }
}

/*
  Masthead
*/

.masthead {
  margin-bottom: 4rem;
  font-family: sans-serif;
}
.masthead a:hover {
  color:black;
}
.masthead-title {
  display: flex;
  justify-content: space-between;
}
.masthead-title a {
  font-size: 1.5rem;
  text-decoration: none;
  color: #505050;
}

/*
  Thumbnail
*/

.thumbnail-container {
  max-width: 100%;
  overflow: hidden;
  border-radius: 5px;
  margin-bottom: 10px;
}

/*
  Post
*/

.posts {
  margin-bottom: 2em;
  list-style: none;
}
.post-date {
  display: block;
  margin-top: 0.5em;
  color: #9a9a9a;
  font-family: sans-serif;
  font-size:0.8rem;
}
@media (max-width: 30rem) {
  .posts h1 {
    font-size: 1.5rem;
  }
}

.related-posts {
  padding-left: 0px;
  list-style: none;
}
.related-posts a {
  text-decoration: none;
}

/*
  Pagination
*/

.pagination {
  overflow: hidden;
  font-family: sans-serif;
  text-align: center;
}
.pagination a {
  text-decoration: none;
}
.pagination-button {
  color: #999;
  border: 1px solid #e0e0e0;
  padding: 5px 45px;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}
.pagination-active {
  color: black;
}
.pagination-active:hover {
  background-color: #e0e0e0;
}

/*
  Footer
*/

.footer {
  color: #999;
  text-align: center;
  margin: 2rem;
}
.footer a {
  color: #999;
  padding: 10px;
  text-decoration: none;
}
.footer a:hover {
  color: #333;
}

/*
  Menu
*/

.menu-content a {
  color: #999;
  font-size: 1rem;
  padding-left: 10px;
}
.menu-content .active-page {
  color: #505050;
}

/*
  Code
*/

code,
pre {
  font-family: monospace;
}
code {
  padding: .25em .5em;
  font-size: .8rem;
  background-color: #f5f5f5;
  border-radius: 3px;
}
pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  background-color: #f5f5f5;
}
pre code {
  padding: 0;
  font-size: 100%;
  color: inherit;
  background-color: transparent;
}
/* Horizontal code overflow fix */
pre.highlight {
  white-space: pre;
  overflow-x: auto;
}

/* Pygments via Jekyll */
.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
}
.highlight pre {
  margin-bottom: 0;
}

/* Gist via GitHub Pages */
.gist .gist-file {
  font-family: monospace !important;
}
.gist .markdown-body {
  padding: 15px;
}
.gist pre {
  padding: 0;
  background-color: transparent;
}
.gist .gist-file .gist-data {
  font-size: .8rem !important;
  line-height: 1.4;
}
.gist code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
}

/*
  Tables
*/

table {
  border-collapse: collapse;
  margin-bottom: 30px;
  width: 100%;
}
table, th, td {
  border: 1px solid black;
}
th, td {
  padding: 15px;
  text-align: left;
}

/*
  Social media icons
*/

.fa-button {
  padding: 5px;
	-o-transition:.5s; -ms-transition:.5s; -moz-transition:.5s; -webkit-transition:.5s;
  transition: .5s;
}
.fa-instagram:hover {
	color: #375989;
}
.fa-github:hover {
	color: #343434;
}
.fa-linkedin:hover {
	color: #0073a4;
}
.fa-rss-square:hover {
	color: #ff6600;
}


/*
  Posts
*/

.drop-cap:first-letter {
  font-size: 42px;
  line-height: 1.2;
  font-weight: 700;
  float: left;
  padding-right: 3px;
  margin-bottom: -6px;
}



/* GALLERY 
 *
 * Styles the Photography page, which shows an image for each category.
 * The images have a horizontal move effect on hover.
 */

 .gallery-grid {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 1500px;
}
.gallery-grid .masonry-item {
  padding-bottom: 0px;
  margin-right: -20px;
  margin-left: -20px;
  position: relative;
  width: 400px;
}
.gallery-grid figure {
  position: relative;
  overflow: hidden;
  background: #111;
  cursor: pointer;
  border-radius: 5px;
  height: 247px;
  /* max-width: 400px; */
}
.gallery-grid figure img {
  position: relative;
  width: 100%;
  max-width: 100%;
  opacity: 0.8;
  max-width: none;
  width: calc(100% + 50px);
  transition: opacity 0.35s, transform 0.35s;
  transform: translate3d(-50px, 0, 0);
}
.gallery-grid figure:hover img {
  opacity: 0.5;
  transform: translate3d(0, 0, 0);
}
.gallery-grid figure figcaption {
  padding: 2.4em;
  color: #fff;
  backface-visibility: hidden;
  text-align: left;
  text-transform: uppercase;
  z-index: 1;
}
.gallery-grid figure figcaption,
.gallery-grid a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.gallery-grid figure figcaption:before,
.gallery-grid figure figcaption:after {
  pointer-events: none;
}
.gallery-grid a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  background: rgba(255, 255, 255, 0);
}
.gallery-grid figure h2 {
  letter-spacing: -1px;
  font-size: 1.5em;
  font-weight: 900;
  padding: 28% 0 10px 0;
  margin: 0;
  color: white;
}

/* ------------------------------------------------ */

.layout-full {
  display: flex;
  justify-content: center;
}


.photo-gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  max-width: 1300px;
}
.photo-gallery > a {
  padding: 10px 5px;
}

.gallery-nav {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.entry-header {
  text-align: center;
  margin-bottom: 1.4em;
}