body {
    font-family: "PT Serif", Georgia, "Times New Roman", serif;
    font-size: 18px;
    color: #515151;
    line-height: 1.75rem;
}

@media (max-width: 30em) {
    body {
        font-size: 14px;
        line-height: 1.5rem;
    }

    body h1 {
        font-size: 1.5rem;
    }
}

h1 a, h2 a, h3 a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif;
    color: #333;
    text-align: center;
    margin-top: 2em;
}

a {
    text-decoration: underline;
    color: #333;
}

a:hover {
    color: black;
    border-bottom: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*
  Posts
*/

/* default.html layout */
.post-container > p:first-of-type:first-letter,
.post-container h2 + p:first-letter,
.post-container h3 + p:first-letter,
.post-container h2 + a + p:first-letter,
.drop-cap:first-letter {
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    float: left;
    padding-right: 3px;
    margin-bottom: -6px;
}

.image-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-image {
    max-width: 100%;
    height: auto;
}

/* show in full width horizontally, used in render-image.html */
.full-width-image {
    width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1920px;
    overflow-x: hidden;
    margin: 0 auto;
}

.full-width-image img {
    width: 100%;
    height: auto;
    display: block;
}

p img {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.alignleft {
    float: left;
    margin: .4em 2em 1em 0;
    margin-left: -140px;
}

.alignright {
    float: right;
    margin: .4em 0 1em 2em;
    margin-right: -140px;
}

.aligncenter {
    margin: 3em auto;
}

#toc {
    display: inline-block;
    width: fit-content;
    max-width: 50%;
    margin-left: 0.5em;
    margin-top: -0.65em;
    padding-top: 0.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    background: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    float: right;
    clear: right;
    text-align: left;
}

#toc ul {
    padding-left: 1em;
}

/*
  Site container (default, gallery layouts)
*/
.container {
    /* center contents */
    margin-left: auto;
    margin-right: auto;
    width: 740px;
    /* Maintain same content position whether scrollbar is shown or not
       (https://stackoverflow.com/a/30293718) */
    padding-left: calc(100vw - 100%);
}

/* Mobile-specific adjustments */
@media (max-width: 768px) {
    .container {
        width: 90vw;
    }

    /* Adjust image alignment for mobile */
    .alignleft, .alignright {
        float: none;
        margin: 1em auto;
        width: 80%;
        max-width: 300px;
    }

    /* Center images on mobile */
    .center-image {
        width: 100%;
        margin: 1em auto;
    }

    /* Ensure main content stays within viewport */
    .post-container {
        width: 95%;
        margin: 0 auto;
    }

    /* Responsive video */
    video {
        width: 100%;
        height: auto;
    }

    /* Adjust image links */
    .image-link {
        display: block;
        text-align: center;
    }
}

/*
  Masthead (header.html)
*/

.masthead {
    margin-bottom: 4rem;
    font-family: sans-serif;
}

.masthead a:hover {
    color: black;
}

.masthead-title {
    display: flex;
    justify-content: space-between;
}

.masthead-title a {
    font-size: 1.5rem;
    text-decoration: none;
    color: #505050;
}

/*
  Posts (blog.md, index.html)
*/

.posts {
    margin-bottom: 2em;
    list-style: none;
}

.post-date {
    display: block;
    margin-top: 0.5em;
    color: #9a9a9a;
    font-family: sans-serif;
    font-size: 0.8rem;
}

ul .posts {
    display: flex;
    justify-content: space-between;
}

.posts > li > p.post-date {
    margin-top: -0.3em;
}

@media (max-width: 30rem) {
    .posts h1 {
        font-size: 1.5rem;
    }
}

.thumbnail-container {
    max-width: 100%;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 10px;
}

/*
  Menu
*/

.menu-content a {
    color: #999;
    font-size: 1rem;
    padding-left: 10px;
}

.menu-content .active-page {
    color: #505050;
}


/*
  Footer
*/

.footer {
    color: #999;
    text-align: center;
    margin: 2rem;
}

.footer a {
    color: #999;
    padding: 10px;
    text-decoration: none;
}

.footer a:hover {
    color: #333;
}

/* Social media icons */

.fa-button {
    padding: 5px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.fa-instagram:hover {
    color: #375989;
}

.fa-github:hover {
    color: #343434;
}

.fa-linkedin:hover {
    color: #0073a4;
}

.fa-rss-square:hover {
    color: #ff6600;
}

/* Pagination */

.pagination {
    overflow: hidden;
    font-family: sans-serif;
    text-align: center;
}

.pagination a {
    text-decoration: none;
}

.pagination-button {
    color: #999;
    border: 1px solid #e0e0e0;
    padding: 5px 45px;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

.pagination-active {
    color: black;
}

.pagination-active:hover {
    background-color: #e0e0e0;
}

/* GALLERY (photography.html)
 *
 * Styles the Photography page, which shows an image for each category.
 * The images have a horizontal move effect on hover.
 */

.gallery-grid {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
}

.gallery-grid .masonry-item {
    padding-bottom: 0px;
    margin-right: -20px;
    margin-left: -20px;
    position: relative;
    width: 400px;
}

.gallery-grid figure {
    position: relative;
    overflow: hidden;
    background: #111;
    cursor: pointer;
    border-radius: 5px;
    height: 247px;
    /* max-width: 400px; */
}

.gallery-grid figure img {
    position: relative;
    width: 100%;
    max-width: 100%;
    opacity: 0.8;
    max-width: none;
    width: calc(100% + 50px);
    transition: opacity 0.35s, transform 0.35s;
    transform: translate3d(-50px, 0, 0);
}

.gallery-grid figure:hover img {
    opacity: 0.5;
    transform: translate3d(0, 0, 0);
}

.gallery-grid figure figcaption {
    padding: 2.4em;
    color: #fff;
    backface-visibility: hidden;
    text-align: left;
    text-transform: uppercase;
    z-index: 1;
}

.gallery-grid figure figcaption,
.gallery-grid a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gallery-grid figure figcaption:before,
.gallery-grid figure figcaption:after {
    pointer-events: none;
}

.gallery-grid a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    background: rgba(255, 255, 255, 0);
}

.gallery-grid figure h2 {
    letter-spacing: -1px;
    font-size: 1.5em;
    font-weight: 900;
    padding: 28% 0 10px 0;
    margin: 0;
    color: white;
}

/*
   gallery layout + create-gallery.html include.
 */

.layout-full {
    display: flex;
    justify-content: center;
}

.photo-gallery {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    max-width: 1300px;
}

.photo-gallery > a {
    padding: 10px 5px;
}

.gallery-nav {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.entry-header {
    text-align: center;
    margin-bottom: 1.4em;
}

/* show in full width horizontally */
.full-width-image-gallery {
    width: 100vw;
    position: relative;
    left: 43%;
    /* -21px to account for the scrollbar */
    margin-left: calc(-50vw - 21px);
    overflow-x: hidden;
}


/* The work below, CSSBox, is released under the Creative Commons
   Attribution-ShareAlike 4.0 license and is available on
   https://github.com/TheLastProject/CSSBox. You are not required to add
   additional credit to your website, just leave the above text in this file */

div.cssbox {
    display: inline-block;
}

span.cssbox_full {
    z-index: 999;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s linear;
}

span.cssbox_full img {
    position: fixed;
    background-color: white;
    margin: 0;
    padding: 0;
    max-height: 90%;
    max-width: 90%;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 20px black;
}

a.cssbox_close,
a.cssbox_prev,
a.cssbox_next {
    z-index: 999;
    position: fixed;
    text-decoration: none;
    visibility: hidden;
    color: white;
    font-size: 36px;
}

a.cssbox_close {
    top: 1%;
    right: 1%
}

a.cssbox_close::after {
    content: '\00d7';
}

a.cssbox_prev,
a.cssbox_next {
    top: 50%;
    transform: translate(0%, -50%);
}

a.cssbox_prev {
    left: 10px;
}

a.cssbox_next {
    right: 10px;
}

a:target ~ a.cssbox_close,
a:target ~ a.cssbox_prev,
a:target ~ a.cssbox_next {
    visibility: visible;
}

a:target > img.cssbox_thumb + span.cssbox_full {
    visibility: visible;
    opacity: 1;
    pointer-events: initial;
}

.cssbox_thumb {
    margin: 10px 5px;
    border-radius: 5px;
}

span.cssbox_full {
    cursor: initial;
}

/* This is the end of CSSBox */
