---
layout: photo
---
<div class="layout-full">
  <div class="gallery-single">

    <header class="entry-header">
      <h1 class="entry-title">{{ page.title }}</h1>
    </header>

    <div class="media-grid-wrap">

      <div class="pw-gallery pw-collage pw-collage-loading load-one-by-one"
           data-gallery-style="minimal" data-share="false" data-fullscreen="true"
           data-bg-opacity="0.95" data-row-height="250" data-effect="effect-4">

        {{ content }}

      </div>

    </div>

    <nav class="nav-single row">

      <div class="nav-previous col-xs-6">
        <h4>PREVIOUS</h4>
        <a href="/gallery/{{ page.prev }}.html" rel="prev"><span class="meta-nav">←</span> {{ page.prev | upcase }}</a>
      </div>

      <div class="nav-next col-xs-6">
        <h4>NEXT</h4>
        <a href="/gallery/{{ page.next }}.html" rel="next">{{ page.next | upcase }} <span class="meta-nav">→</span></a>
      </div>

    </nav>

  </div>

  <!-- Root element of PhotoSwipe. Must have class pswp. -->
  <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="pswp__bg"></div>
    <div class="pswp__scroll-wrap">
      <div class="pswp__container">
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
        <div class="pswp__item"></div>
      </div>
      <div class="pswp__ui pswp__ui--hidden">
        <div class="pswp__top-bar">
          <div class="pswp__counter"></div>
          <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>
          <button class="pswp__button pswp__button--share" title="Share"></button>
          <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
          <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
          <div class="pswp__preloader">
            <div class="pswp__preloader__icn">
              <div class="pswp__preloader__cut">
                <div class="pswp__preloader__donut"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
          <div class="pswp__share-tooltip"></div>
        </div>
        <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>
        <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
        <div class="pswp__caption">
          <div class="pswp__caption__center">
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
