---
layout: photo
---
<div class="layout-full">
  <div class="gallery-single">

    <header class="entry-header">
      <h1 class="entry-title">{{ page.title }}</h1>
    </header>

    <div class="layout-full">
      <div class="photo-gallery">
        {%- if page.images %}
        {%-   for img in page.images %}
        <div class="cssbox">
          <a id="image{{ forloop.index }}" href="#image{{ forloop.index }}">
            <img class="cssbox_thumb" src="/images/gallery/{{ page.title | downcase }}/{{ img }}s.jpg" />
            <span class="cssbox_full"><img src="/images/gallery/{{ page.title | downcase }}/{{ img }}l.jpg" /></span>
          </a>
          <a class="cssbox_close" href="#void"></a>
          {%-   if forloop.first == false %}
          <a class="cssbox_prev" href="#image{{ forloop.index | minus: 1 }}">&#x25c4;</a>
          {%-   endif %}
          {%-   if forloop.last == false %}
          <a class="cssbox_next" href="#image{{ forloop.index | plus: 1 }}">&#x25ba;</a>
          {%-   endif %}
        </div>
        {%-   endfor %}
        {%- endif %}
      </div>
    </div>

    <nav class="gallery-nav">
      <div class="nav-previous">
        <h4>PREVIOUS</h4>
        <a href="/gallery/{{ page.prev }}.html" rel="prev"><span class="meta-nav">←</span> {{ page.prev | upcase }}</a>
      </div>
      <div class="nav-next">
        <h4>NEXT</h4>
        <a href="/gallery/{{ page.next }}.html" rel="next">{{ page.next | upcase }} <span class="meta-nav">→</span></a>
      </div>
    </nav>

  </div>

</div>
