<!doctype html>
<html>
<head>

  <!-- Photo stuff -->
  <!-- <link rel="stylesheet" href="{{ site.github.url }}/assets/photo/css/main.css"> -->
  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/gallery.css">
  <!-- Photo stuff END -->

  {% include head.html %}
</head>
<body>

  <div class="container">
    {% include header.html %}
  </div>

  <div id="page" class="hfeed site">
    <div id="main" class="site-main">
      <div id="primary" class="content-area">
        <div id="content" class="site-content" role="main">
          {{ content }}
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    {% include footer.html %}
  </div>

  {% include scripts.html %}

</body>
</html>
