---
layout: photo
---

<article class="hentry type-post">

  <div class="layout-fixed">

    <header class="entry-header">

      <h1 class="entry-title">{{ page.title }}</h1>

      <div class="entry-meta">
        <span class="entry-date post-date updated">
          <time class="entry-date" datetime="{{ page.date }}">{{ page.date | date_to_long_string }}</time>
        </span>
        <span class="cat-links">
          {{ content | number_of_words }} Words
        </span>
      </div>

    </header>

    <div class="container">
        <div class="post-container">
      {{ content }}
        </div>
    </div>

  </div>

  <div class="photo-gallery">
    {{ page.gallery }}
  </div>

</article>
